hr {
  border-width: 1px;
  color: #acacac;
  width: 80%;
}

body{
  font-family:"open sans"
}

a:link {
    color: #acacac;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #939393;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

.header{
  padding: 25px 0% 25px 0%;
}

.btn-sm{
  font-size: .5rem;
  width: 100px;
  padding: 6px 4px 6px 4px;
  border-color: #555555;
}
.font-stretch{
 letter-spacing: .75rem;
}

.above-nav{
  font-family:"open sans";
  font-size:.7rem;
  color: #939393;
  padding: 1.5rem 0rem 1rem 1rem;
}

.navbar{
  padding: 0rem 1rem 0rem 1rem;
}

.nav-item{
padding: 0rem 2rem 0rem 1rem;
}

.thickness{
  border-bottom: .3rem solid white;
}

.img-fluid.logo-header{
  padding-top: 2rem;
  padding-left: 9rem;
}

.page-one-middle{
  background-image: url("img/background-texture.png");
}

.border{
  border-color: #555555;
}

.border-padding{
  padding:.5rem;
}

.border-margin{
  margin: 1.5rem;
}

.background-wht{
  background-color: #ffffff;
}

.font-georgia{
  font-family: "georgia"
}

.font-size-xs{
  font-size:.5rem;
  font-weight: 100;
  padding-top:.75rem;
}

.font-size-xl{
  font-size:x-large;
  font-weight: 800;
  padding-top:.75rem;
}
.link-color{
  text-decoration: none;
}

.text-gray{
  color: #939393;
}

.text-lt-gray{
  color: #acacac;
}

.text-dk-gray{
  color: #666666;
}

.text-wht{
  color: #ffffff;
}

.text-gold{
  color: #b7a174;
}

.text-lt-blue{
  color: #93acc7;
}

.text-brt-blue{
  color: #079ee0;
}

.text-green{
  color: #3faf6c;
}

.news{
  padding-left: .5rem;
}

.products{
  margin-top: 1.5rem;
}

.carousel-indicators{
  bottom: -14rem;
  justify-content: left;
  margin-left: 0rem;
}

.widgets{
  margin: 4px 0px;
}

.card{
  border:10px solid #000000;
}

.card-no-border{
}

.form{
  background-color: #ffffff;
  color:#000000;
  padding: 1rem 0rem 1rem 0rem;
}

.form.hotel-button{
  padding: .5rem;
}

.tool-bar{
  /* margin: 50px 0px 25px 0px; */
  border-bottom: #acacac .25rem solid;
}

.content-padding{
  padding: 30px 12% 30px 12%;
}

.content-padding-news{
  padding: 30px 12% 30px 14%;
}

.footer-padding{
  padding: 25px 175px 25px 175px;
}

.img-padding{
padding-bottom: .75rem;
}

.img-center{
image-orientation: center;
}

.img-padding-all{
padding: .75rem;
}
.btn-all{
  width: 75px;
  color: #c7b299;
  border-color: #c7b299;
  border-bottom: #c7b299 .25rem solid;
}

.btn-other{
  width:100px;
}

.btn-margin{
  margin: .75rem .5rem .75rem .5rem;
}

.social-media-styling{
  padding-left: .5rem;
}
.border-top{
  margin-top: 1.5rem;
}

.text-padding{
  padding: 0px 175px 0px 175px;
}
.bg-lt-gray{
  background-color: #acacac;
}

.bg-lt-blue{
  background-color: #d3deea;
}

.bg-gray-footer{
background-color: #363636;
width:100%
}

.bg-gray-bottom{
  background-color: #3f3f3f;
}

.footer-bottom{
  width:100%
}

.bg-gray-top{
  background-color:#363636;
}

.phone-align{
  margin-right: 30px;
}

.support-align{
  margin-right: 7px;
}

.gps-align{
  margin-right: 7px;
}

.list-row-height{
  line-height: 2;
}
/*
.speech-bubble { position: relative; background: #d3deea; border-radius: 0em; padding-top: .75em;}
.speech-bubble:after { content: ''; position: absolute; right: 0; top: 70%; width: 0; height: 0; border: 9px solid transparent; border-left-color: #d3deea; border-right: 0; margin-top: -9px; margin-right: -9px;
} */

footer div:nth-of-type(3) ul li:nth-of-type(1){
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: #464646;
  border-style: solid;
  margin-bottom: -10px;
}

footer div:nth-of-type(3) ul li:nth-of-type(2){
  border-top: 1px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: #464646;
  border-style: solid;
  padding-top: 8px;
}

footer div:nth-of-type(3) ul li:nth-of-type(3){
  border-top: 1px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: #464646;
  border-style: solid;
  padding-top: 8px;
}

footer div:nth-of-type(3) ul li:nth-of-type(4){
  border-top: 1px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: #464646;
  border-style: solid;
  padding-top: 8px;
}
